* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1550px;
    max-width: 97%;
    margin: auto;
}

/* header section  */
.header-section {
    background-color: #000;
    color-interpolation-filters: #fff;
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.header-logo {}

.header-logo img {
    width: 100px;
}

.header-menu {}

.header-menu ul {
    display: flex;
    list-style: none;

}

.header-menu ul li {
    position: relative;
}

.header-menu ul li:before {
    content: "";
    height: 1px;
    width: 72%;
    position: absolute;
    left: 11px;
    bottom: 15px;
    background-color: #fff;
}

.header-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 25px 20px;
    display: block;
}

/* full-content  */
.full-content {}

.main-content {
    display: flex;
}

.content-left {
    flex-basis: 85%;
    margin-top: 120px;

}

.row-1 {
    display: flex;
}

.row1-item {
    border: 1px solid green;
    height: 200px;
    flex-grow: 1;
    margin: 20px;
}

.row1-item:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1-item:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.row1-item p {

    color: #fff;
    background-color: red;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* row two start  */
.row-2 {
    display: flex;
}

.row2-item {
    border: 1px solid green;
    margin: 20px;
    padding: 25px;
    flex: 1 0 0%;
}

.row2-item:nth-child(2) {
    flex-grow: 2;
}

.row2-item:nth-child(3) {}




/* .row three :start */
.row-3 {
    display: flex;
    /*! flex-direction: row; */
}

.row3-item {
    border: 1px solid green;
    margin: 20px;
    padding: 25px;
    flex: 1 0 0%;
    /*! display: flex; */
}

.around ul {
    display: flex;
    justify-content: space-around;
}

.around ul li {
    width: 70px;
    color: #fff;
    background: red;
    height: 50px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    /*! flex-grow: 1; */
    width: 50px;
}

.row3-item:nth-child(2) {}

.row3-item:nth-child(3) {}

.row3-item ul {
    list-style: none;
    display: flex;
    /*! flex: wrap; */
    flex-wrap: wrap;
}

.two ul {
    text-align: center;
}

.two ul li {
    width: 70px;
    color: #fff;
    background: red;
    height: 50px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    /*! flex-grow: 1; */
    width: 50px;
}

.third .redoy {
    display: flex;
    justify-content: space-evenly;
    height: 160px;
}


.third .item {
    width: 80px !important;
}

.redoy .item:nth-child(2) {
    align-self: center;
}

.redoy .item:nth-child(3) {
    align-self: flex-end;
}

.row3-item .item {
    color: #fff;
    background: red;
    height: 50px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    /*! flex-grow: 1; */
    width: 50px;
}

.row3-item .redoy .item:nth-child(2) {
    align-self: center;
}


/* right side  bar  */
.content-right {
    margin-left: 20px;
    margin-top: 80px;
    background-color: #D2D2D2;
    padding: 30px;
    border-left: 1px solid red;
    flex-basis: 15%;
}

.content-right h3 {
    margin-bottom: 15px;
}

.content-right img {
    margin-bottom: 10px;
    width: 100%;
}

.content-right p {}

.content-right {
    flex-basis: 20%;
}

/* footer part  */
/* header section  */
.footer-section {
    background-color: #000;
    color-interpolation-filters: #fff;
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}


.header-menu {}

.footer ul {
    display: flex;
    list-style: none;

}

.footer ul li {
    position: relative;
}

.footer ul li:before {
    content: "";
    height: 1px;
    width: 80%;
    position: absolute;
    left: 10px;
    bottom: 15px;
    background-color: #fff;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    padding: 25px 20px;
    display: block;
}
